{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="fsa-box fsa-box--br-2">
<form{{ attributes }}>
{% if attributes.id == "node-awardee-org-form" %}
 <h2>Organization Information</h2>
 {% endif %}
  {{ children }}
</form>
</div>
